<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Soutenances</h1>
        <p class="text-center">Veuillez choisir une soutenance pour voir plus de détails.</p>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let soutenance of soutenances">
            <a [href]="'/soutenance/' + soutenance.id" class="d-block">
              {{ soutenance.titre }}
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
  