 <div class="sae-container">
   <div class="header">
    <h2>Créer une SAE</h2>

    <button class="back-button" routerLink="/accueil/saeDashboard">Retour aux SAE</button>
   </div>
    <form [formGroup]="saeForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Nom :</label>
        <input formControlName="nom" type="text">
        <div *ngIf="saeForm.get('nom')?.invalid && saeForm.get('nom')?.touched">
          <small>Ce champ est requis</small>
        </div>
      </div>

      <div>
        <label>Sujet :</label>
        <textarea formControlName="sujet"></textarea>
        @if(saeForm.get('sujet')?.invalid && saeForm.get('sujet')?.touched){
          <div>
            <small>Ce champ est requis</small>
          </div>
        }
      </div>

      <div>
        <label>Responsable :</label>
        <select formControlName="responsable_id">
          <option *ngFor="let responsable of responsables" [value]="responsable.id">
            {{ responsable.firstname}} {{responsable.lastname }}
          </option>
        </select>
        <div *ngIf="saeForm.get('responsable_id')?.invalid && saeForm.get('responsable_id')?.touched">
          <small>Veuillez entrer un ID valide</small>
        </div>
      </div>

      <div>
        <label>Semestre :</label>
        <select formControlName="semestre_id">
          <option *ngFor="let semestre of semestres" [value]="semestre.id">
            {{ semestre.nom}}
          </option>
        </select>
        <div *ngIf="saeForm.get('semestre_id')?.invalid && saeForm.get('semestre_id')?.touched">
          <small>Veuillez entrer un ID valide</small>
        </div>
      </div>

      <button type="submit" [disabled]="saeForm.invalid">Créer SAE</button>
    </form>
 </div>
