<div class="container">
  <div class="tile left-tile">
    <h3>{{sae?.nom}}</h3>
    <h4>Sujet: </h4><p>{{sae?.sujet}}</p>
    <h4>Responsable: </h4><p>{{sae?.responsable_id}}</p>
    <h4>Semestre {{sae?.semestre_id}}</h4>
  </div>
  <div class="right-tiles">
    <div class="tile right-tile resources">
      <h3>Ressources</h3>
      <p>Fichiers déposés par l'enseignant</p>
      <button class="add-button">Ajouter</button>
    </div>
    <div class="tile right-tile submissions">
      <h3>Rendus</h3>
      <p>Rendus ouverts par l'enseignant</p>
      <button class="add-button">Ajouter un rendu</button>
    </div>
  </div>
</div>
